font-family: 'Muli', sans-serif;

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 40px;
}
#name-highlight {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #EC4C7A;
    padding: 28px 0px;
}
.intro-area{
    height: 680px;
    padding-top: 60px;
    background-image: url("../images/backgrounds/header-bg.png");
    background-size: cover;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.intro-area p {
    color: #707070;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
.half-width img {
    width: 100%;
}
.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(to right,#EC4F92 , #EC4B74);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.intro-text-padding {
    padding-top: 175px;
    padding-left: 40px;
}

.biography-area {
    padding-top: 65px;
    height: 860px;
    /* margin-bottom: 10px;*/
    background-image: url(../images/backgrounds/biography-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.biography-area p {
    color: #707070;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 20px 0px;

}
.download-btn {
    text-decoration: none;
    background-image: linear-gradient(to right,#EC4F92 , #EC4B74);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.bio-text-padding{
    padding-top: 200px;
}


.latest-work-area {
    display: block;
    height: 600px;
    padding-left: 10%;
    background-image: url("../images/backgrounds/latest-work-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.latest-work-area h1 {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 85px;
}

.latest-work-area img {
    width: 28%;
    float: left;
    padding-right: 3%;
}

.footer-area{
    height: 850px;
    background-image:url("../images/backgrounds/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}



.client-opinion-area {
    text-align: center;
    margin-bottom: 60px;
}

.client-opinion-area h1 {
    padding: 100px;
}
.client-opinion-area h4 {
    font-size: 20px;
}

.client-opinion-area h5 {
    color: #707070;
    padding: 20px;
}

.client-opinion-area p {
    line-height: 35px;
    font-size: 18px;
}

.message-area {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    width: 650px;
    height: 185px;
    margin-left: -325px;
    border: 1px solid;
    background-image: linear-gradient(to right,#EC4F92 , #EC4B74);
    color: white;
    border-radius: 10px;
}
.message-area h3 {
    padding-top: 50px;
}

.message-area h2 {
    padding: 20px;
    font-size: 28px;
}
.copyright-area {
    color: #707070;
    text-align: center;
    padding-top: 100px;
}